@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
    width: 4px;
    height: 0px;
    display: var(--scroll-display);
}

input:focus {
    border-color: #3b3b3b !important;
}

.toast-container .Toastify__toast {
    font-family: "Work Sans", sans-serif; /* Ganti dengan font yang Anda inginkan */
}
